---
---

@import "{{ site.theme }}";

/*Overriding styles*/
h1, h2 {
  color: #FF4633;
}

a, a:visited{
  color: #2C9FB4;
}

.site-header {
  border-top: 0px;
}

.site-title {
  color: #FF4633 !important;
}

.site-nav .trigger .page-link {
  color: #FF4633
}

/*
* First three lines in .post-list-item are to center the content within the div
* Using flexbox to accomplish it
*/
.post-list-item {
  display: flex;    
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 100px;
  float: left;
  margin: 10px 0px 0px 10px;
  text-align: center;
  background-color: #6ED2E5;
  box-shadow: 5px 5px 5px black;
}

.animation-grouping > * {
  transition: all .25s ease-in-out;
}

.animation-group:hover > * {
  transform: scale(0.9, 0.9);
  transition: all .25s ease-in-out;
}

.animation-group > *:hover {
  transform: scale(1.1, 1.1);
  transition: all .25s ease-in-out;
}

.post-list-item > a {
  color: #000000;
  text-decoration: none;
}

.blog-articles {
  margin-top: 50px;
}

/*clearfix hack*/
.grouping:before,
.grouping:after {
  visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*About Page*/
.image-container {
  text-align: center;
}